<html>
	<head>
		<!-- The param which is passed from render-->
		<title><%= title %></title>
	</head>
	<body>
		<div>
			For testing only: 
			<a href="/student">See Whats in the Database</a> |
			<a href="/student/selection">Add your classes</a> | 
		</div>	
		<h1><%= title %></h1>
