<link rel="stylesheet" type="text/css" href="/public/css/main.css" >

<html>
	<head>
		<!-- The param which is passed from render-->
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/main.css" type="text/css" />
	</head>
</html>
