<html>
	<head>
		<!-- The param which is passed from render-->
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/store/add">Register an Account</a> | 
			<a href="/store">See Whats in the Database - For Testing</a>
		</div>	
		<h1><%= title %></h1>
