<!-- <link rel="stylesheet" type="text/css" href="/public/css/main.css" >-->

<!DOCTYPE html>

<html>
	<head>
		<!-- The param which is passed from render-->
		<title><%= title %>TACA Locator App</title>
		<link rel="stylesheet" href="/css/main.css" type="text/css" />
	</head>
<body>
		<div>
			
		</div>	
</html>
