<!-- <link rel="stylesheet" type="text/css" href="/public/css/main.css" >-->

<!DOCTYPE html>

<html>
	<head>
		<!-- The param which is passed from render-->
		<title><%= title %>TACA Locator App</title>
		<link rel="stylesheet" href="/css/main.css" type="text/css" />
	</head>
<body>
		<div>
			For testing only: 
			<a href="/student">See Whats in the Database</a> |
			<a href="/student/selection">Add your classes</a> | <br><br>
			<a href="https://github.com/Zoolouie/CATALOCATOR-ExecutableCode/commits/master">Active GitHub</a> | 
			<a href="https://github.com/Roman260/SoftwareDevProject">1st GitHub</a> | 
			<a href="">2nd GitHub  --?wasnt there some other gitHub?</a> | 
			<a href="https://trello.com/b/Il8S973j/sprint-one">Trello</a> | 

		</div>	
</html>
