<!-- <link rel="stylesheet" type="text/css" href="/public/css/main.css" >-->


<!DOCTYPE html>

<html>
	<head>
		<!-- The param which is passed from render-->
		<title><%= title %>TACA Locator Add Classes</title>
		<link rel="stylesheet" href="/css/main.css" type="text/css" />
	</head>
	<body>
		<div>
			<a href="/student/main_view">My Schedule</a> |
			<a href="/student/selection">Add Classes</a> |
			<a href="/">Logout</a>
		</div>	
		<h1><%= title %></h1>
	</body>
</html>




