<html>
	<head>
		<!-- The param which is passed from render-->
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/student/main_view">View Classes</a> |
			<a href="/student/selection">Add Classes</a> |
			<a href="/">Logout</a>
		</div>	
		<h1><%= title %></h1>
	</body>
</html>
