<% if (messages.error) { %>
  <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
  <p style="color:green"><%- messages.success %></p>
<% } %>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<%- include ../layouts/header.ejs %>
	  
   </head>
   
      <div class="navbar">
<table bgcolor="black" border="0" width="100%" ID="Table2" style="margin: 0px;">
  <tr>
    <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/student/main_view">My Schedule</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/student/selection">Add Classes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/student/login">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/student/about">About</a></td>
  </tr>
  
    
</table><br><br>

   
</div>
      <div class="container" style="padding-top: 70px">
          <div class="row">
              <div class="col-md-6 col-md-offset-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h2>About Us</h2>
                                <p>The TA/CA locator was created by a team of 6 computer science students at the University of Colorado Boulder for the class:
                                CSCI 3308-Software Development Methods & Tools. In an effort to assist other students in seeking reliable assistance, we came up
                                with the idea for a website that connects TA's and students.

                                </p>
                                <p>The TA/CA locator makes it easy to find help in the Computer Science department at The University of Colorado Boulder. We present your
                                  options with all of your TA's/CA's schedules right next to your class schedule, so that you will never miss another important office hour. If you have not had the
                                  opportunity to sign up yet please click the Sign Up button so that we can get started creating a personalized schedule for you.
                                </p>

                                <p>The frontend was written in HTML, CSS, and JavaScript. The backend was written in MySQL, hosted in PostgreSQL on Heroku, and connected through NodeJS.
                                </p>
                                <table style="width:80%">
                                  <tr>
                                    <td><b>Back End</b></td>
                                    <td><b>Front End</b></td> 

                                  </tr>
                                  <tr>
                                    <td>Colin Murphy</td>
                                    <td>Elsa Velazquez</td>

                                  </tr>
                                  <tr>
                                    <td>Roman Zaytsev</td>
                                    <td>John Osborne</td>

                                  </tr>
                                  <tr>
                                    <td>Zander Louie</td>
                                    <td>Thadeus Labuszewski</td>


                                  </tr>
                                </table>

                      </div>
                      <br><br><br>
                      <div class="panel-body">
                         


                                  </form>


                           
                      </div>
                  </div>
              </div>
              
                  
              </div>
          </div>
      </div>
    </div>
  </body>

  <footer>
  <div class="footerLinks">
	    <ul>
	    
	      <li><a href="https://github.com/Zoolouie/CATALOCATOR-ExecutableCode/commits/master">Current GitHub     </a>    |</li>
	        <li><a href="https://github.com/Roman260/SoftwareDevProject">Old GitHub     </a>      |</li>
	        <li><a href="https://trello.com/b/Il8S973j/sprint-one">Trello     </a>      |</li>
	        <li><a href="/student/about">About Us     </a> </li>
	    </ul>
    </div>  


  </div>
  <div class="copyright">
    <p>&copy; 2018</p>
</footer>


</html>

