<%- include ../layouts/logged_in_header.ejs %>  

<html>
<body>

This will be the main view people see with a calendar, current classes, TA schedules, etc.

<h1><%= email %></h1>
<h1><%= studentid %></h1>

</body>
</html>
<%- include ../layouts/footer.ejs %>
