<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%- include ../layouts/logged_in_header.ejs %>  


   </head>
  <body>

  
<div class="navbar">
      <a href="/student/main_view">My Schedule</a> |
      <a href="/student/selection">Add Classes</a> |
      <a href="/">Logout</a>
</div>


      <h1 style="padding-left: 50px; padding-top: 60px">Add Classes</h1>

      <div class="container">
          <div class="rowHead">
              <h6 style="padding-top: 10px">Before we create your personalized calendar, we need some informaton from you. Please select all classes that you are currently taking.</h6>
          </div>

          <div class="row" style="padding-top: 20px">
                  <div class="col-md-4 col-md">
                    <form role="form" id="createAccountForm" action="selection" method="POST">
                      <div class="form-group">
                         <input type="checkbox" name="optradio" value="1200">CSCI 1200</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="1300">CSCI 1300</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="1320">CSCI 1320</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="2270">CSCI 2270</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="2400">CSCI 2400</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="2820">CSCI 2820</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="2824">CSCI 2824</label>
                      </div>
                  </div>

                  <div class="col-md-4 col-md">
                    
                      <div class="form-group">
                         <input type="checkbox" name="optradio" value="3002">CSCI 3002</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3010">CSCI 3010</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3022">CSCI 3022</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3104">CSCI 3104</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3155">CSCI 3155</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3202">CSCI 3202</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3287">CSCI 3287</label>
                      </div>
                  </div>

                  <div class="col-md-4 col-md">
                    
                      <div class="form-group">
                         <input type="checkbox" name="optradio" value="3308">CSCI 3308</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3656">CSCI 3656</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3753">CSCI 3753</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="4239">CSCI 4239</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="4302">CSCI 4302</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="4358">CSCI 4358</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="4448">CSCI 4448</label>
                      </div>
                  </div>
                     <td><input type="submit" class="btn btn-lg btn-dark btn-block" name="Submit" value="Sign Up" /></td>
              </form>   
      </div>
  </body>
    <footer>
    <div class="footerLinks">
      <ul>
        <li><a href="https://github.com/Zoolouie/CATALOCATOR-ExecutableCode/commits/master">Active GitHub     </a>  |</li>
          <li><a href="https://github.com/Roman260/SoftwareDevProject">1st GitHub     </a> |</li>
          <li><a href="https://trello.com/b/Il8S973j/sprint-one">Trello     </a> |</li>
      </ul>
      </div>  


    </div>
    <div class="copyright">
      <p>&copy; 2018</p>
  </footer>
</html>

</html>
