<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>	

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    


   </head>
  <body>
      <div id="banner">
          <div id="banner-content">
          </div>
      </div>

      <h1 style="padding-left: 50px; padding-top: 60px">TA/CA Locator</h1>

      <div class="container">
          <div class="rowHead">
              <h6 style="padding-top: 10px">Before we create your personalized caleneder, we need some informaton from you. Please select all classes that you are currently taking.</h6>
          </div>

          <div class="row" style="padding-top: 20px">
              <div class="col-md-4 col-md">
                  <form>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 1200 - Muzny - The Art of Computational Thinking1</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 1300 - Fleming/Gupta - CS1 Starting Computing</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 1320 - Zagrodzki - Computer Science I: Engineering Applications</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 2270 - Hoenigman/Zagrodzki/Zietz - CS2: Data Structures</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 2400 - Miller - Computer Systems</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 2820 - Rahimian - Linear Algebra</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 2824 - Wong/Kolla - Discrete Structures</span>
                          </label>
                      </div>
                  
              		</div>
              		<div class="col-md-4 col-md">
                 
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 3002 - Yeh - Principles of Human Computer Interaction</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 3010 - Muzny - Programming Project Workshop</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 3022 - Larremore - Data Science with Probability and Statistics</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 3104 - Grochow/Clauset - Algorithms</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 3155 - Nelson - Principles of Programming Languages</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 3202 - Wong - Introduction to Artificial Intelligence</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 3287 - Paradise - Database and Information Systems</span>
                          </label>
                      </div>
                  
              		</div>
              		<div class="col-md-4 col-md">
                  
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 3308 - Paradise - Software Development Methods & Tools</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 3656 - Brown - Numerical Computation</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 3753 - Knox - Operating Systems</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 4239/5239 - Schreuder - Advanced Computer Graphics</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 4302/5302 - Heckman - Advanced Robotics</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 4358/5350 - Han/Nies - CS Entrepreneurial Projects II Capstone</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="radio"> <span class="label-text">CSCI 4448/5448 - S2018 - Boese - Object-Oriented Analysis and Design</span>
                          </label>
                      </div>
                  </form>
              </div>

          </div>
          <div class="rowBottom">
              <div class="checkbox">
              </div>
              <a href="/" class="btn btn-lg btn-dark btn-block" role="button">Continue</a>
          </div>
      </div>
  </body>
</html>