<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>	

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    


   </head>
  <body>
      <div id="banner">
          <div id="banner-content">
          </div>
      </div>

      <h1 style="padding-left: 50px; padding-top: 60px">TA/CA Locator</h1>

      <div class="container">
          <div class="rowHead">
              <h6 style="padding-top: 10px">Before we create your personalized caleneder, we need some informaton from you. Please select all classes that you are currently taking.</h6>
          </div>

          <div class="row" style="padding-top: 20px">
              <div class="col-md-4 col-md">
                  <form action="/student/selection/" method="post">
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="options[]" value = "1200"> <span class="label-text">CSCI 1200 - Muzny - The Art of Computational Thinking1</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="options[]" value = "1300"> <span class="label-text">CSCI 1300 - Fleming/Gupta - CS1 Starting Computing</span>
                          </label>
                      </div>
                      <div class="form-check">
                          <label>
                              <input type="checkbox" name="options[] value = "1320"> <span class="label-text">CSCI 1320 - Zagrodzki - Computer Science I: Engineering Applications</span>
                          </label>

                  </form>
              </div>

          </div>
          <div class="rowBottom">
              <div class="checkbox">
              </div>
              <a href="/" class="btn btn-lg btn-dark btn-block" role="button">Continue</a>
          </div>
      </div>
  </body>
</html>