
<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>  

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    


   </head>
  <body>

      <h1 style="padding-left: 50px; padding-top: 60px">TA/CA Locator</h1>

      <div class="container">
          <div class="rowHead">
              <h6 style="padding-top: 10px">Before we create your personalized caleneder, we need some informaton from you. Please select all classes that you are currently taking.</h6>
          </div>

          <div class="row" style="padding-top: 20px">
                  <div class="col-md-4 col-md">
                    <form role="form" id="createAccountForm" action="selection" method="POST">
                      <div class="form-group">
                         <input type="checkbox" name="optradio" value="1200">CSCI 1200</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="1300">CSCI 1300</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="1400">CSCI 1400</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="1500">CSCI 1500</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="1600">CSCI 1600</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="1700">CSCI 1700</label>
                      </div>
                  </div>

                  <div class="col-md-4 col-md">
                    
                      <div class="form-group">
                         <input type="checkbox" name="optradio" value="2200">CSCI 2200</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="2300">CSCI 2300</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="2400">CSCI 2400</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="2500">CSCI 2500</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="2600">CSCI 2600</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="2700">CSCI 2700</label>
                      </div>
                  </div>

                  <div class="col-md-4 col-md">
                    
                      <div class="form-group">
                         <input type="checkbox" name="optradio" value="3200">CSCI 3200</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3300">CSCI 3300</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3400">CSCI 3400</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3500">CSCI 3500</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3600">CSCI 3600</label>
                      </div>
                      <div class="form-group">
                          <input type="checkbox" name="optradio" value="3700">CSCI 3700</label>
                      </div>
                  </div>
                     <td><input type="submit" class="btn btn-lg btn-dark btn-block" name="Submit" value="Sign Up" /></td>
              </form>   
      </div>
  </body>
</html>


